langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-huggingface
python-dotenv
numpy
scikit-learn
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
pydantic
streamlit